
h1 {
    font-size: 32;
    color: #807f7d;
    text-shadow: 4px 4px 6px pink;
    font-family: arial;
    padding: 32px;
    margin:32px;
    text-align: center;
    background-color: aquamarine;
    border-style: groove;
    border-color: aqua;
    border-width: 10px;

    
}

.taco{
    width: 50%;
    margin: 50px auto 100px;
    display: block;
    border-style:groove;
    border-color: aqua;
    border-width: 10px;
}

.introtitle{
    color:#807f7d;
    background-color: ;
    border-width: 10px;
    border-style: groove;
    border-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    
}

.intro{
    color: #807f7d;
    margin: 20px;
    padding:10px;
    text-align: center;
    border-color: aqua;
    border-style: double;
    border-width: 10px;
    background-color: aquamarine;
    font-style: italic;

  
}

h2{
    background-color: aquamarine;
}

ul{
    background-color: aquamarine;
}
.introduction{
    background-color: gray;
}

.highlight{
    background-color: yellow;
    
}
